@import "../mixins";
@import "../variables";

.dashboard {

  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $dashboard-header-height;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1000;

    & .title {
      display: flex;
      align-items: center;
    }

    & .search {
      display: flex;
      align-items: center;
      width: 40%;
      background: #e3e2e2;
      padding-left: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    & .input {
      padding: 10px 5px 10px 15px;
      margin-left: 10px;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0px 5px 5px 0;
      color: rgba(0, 0, 0, .7);
      background: #eeeeee;
      font-size: 14px;
      &:hover,
      &:focus {
        outline: none;
      }
    }

    & .apps {
      text-decoration: none;
      color: #111111;

      i {
        font-size: 30px;
        color: #111111;

        &:hover {
          color: green;
        }

      }


    }
  }

  &__new {
    margin-top: $dashboard-header-height;
    padding: 2.5rem;
    background: #ececec;
  }

  &__create {
    width: 160px;
    height: 140px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-align: center;

    i {
      font-size: 4rem;
    }

    &:hover {
      cursor: pointer;
      color: green;
      border-color: green;
    }
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__tables {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid $border-color;
    border-bottom: none;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 0 12px 1rem 12px;
    border-bottom: 1px solid $border-color;
  }

  &__list {
    @include clear-list;
  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;

    &:hover {
      background: #e6f4ea;
      border-radius: 5px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      color: #202124;
      font-size: 14px;
      text-align: center;

      & > img {
        width: 27px;
        margin-right: 4px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
