$header-height: 48px;
$toolbar-height: 44px;
$formula-height: 38px;
$info-cell-width: 40px;
$table-cell-width: 45px;
$cell-width: 120px;
$row-height: 26px;
$dashboard-header-height: 100px;
$border-color: #c0c0c0;
$primary-color: #3c74ff;

